#mapwrap {
    position: relative;
    overflow: hidden;
}

.category,
.category * {
    margin: 0;
    padding: 0;
    color: #000;
}

.category {
    position: absolute;
    overflow: hidden;
    top: 10px;
    left: 10px;
    width: 250px;
    height: 50px;
    z-index: 10;
    border: 1px solid black;
    font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
}

.category .menu_selected {
    background: #FF5F4A;
    color: #fff;
    border-left: 1px solid #915B2F;
    border-right: 1px solid #915B2F;
    margin: 0 -1px;
}

.category li {
    list-style: none;
    float: left;
    width: 60px;
    height: 45px;
    padding-top: 5px;
    cursor: pointer;
}

.category .ico_comm {
    display: block;
    margin: 0 auto 2px;
    width: 22px;
    height: 26px;
    background: url('https://github.com/summ7569/summ7569.github.io/blob/master/category.png?raw=true') no-repeat;
}

.category .ico_coffee {
    background-position: -10px 0;
}

.category .ico_store {
    background-position: -10px -36px;
}

.category .ico_carpark {
    background-position: -10px -72px;
}

.category .ico_all {
    background-position: -10px -108px;
}

/* 추가된 스타일 */
#toggleUI {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 20;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
}
